.Card {
  height: 200px;
  width: 200px;
  background-color: #fff;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 18px;
  position: relative;
}

.Card--DeleteButton {
  background-color: transparent;
  display: block;
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 10px;
}

.Card--Color {
  cursor: pointer;
}
